*{
  background: #EDFDFA;
}
.App-Wrap{
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
.Nav {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin: 2% 0;
  font-size: calc(5px + 2vmin);
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; 
}

.logo img {
  width: 35%;
  margin-bottom: 2%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}


.saltyPeopleSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.saltyPeopleBox{
background: #FFFFFF;
width: 95%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2%;
padding-bottom: 2%;
}

.saltyPeople{
margin: 1.5%;
text-align: center;
background: #F1EBEB;
border: 1px solid #FD8936;
padding: 7%;
width: 90%;
box-sizing: border-box;
font-size: calc(50px + 2vmin);
}

.title{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin);
  font-family: 'Roboto';
}

.textBox{
  
  margin: 5% 0  15% 0;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
}

