*{
  background: #EDFDFA;
}
.App-Wrap{
  display: flex;
  flex-direction: column;
}
.Nav {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.saltyPeopleSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.saltyPeopleBox{
background: #FFFFFF;
width: 95%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2%;
padding-bottom: 2%;

}

.saltyPeople{
margin: 1.5%;
text-align: center;
background: #F1EBEB;
border: 1px solid #FD8936;
padding: 7%;
width: 90%;
box-sizing: border-box;
}

.title{
  display:flex;
  align-items: center;
  justify-content: center;
}

.textBox{
  
  margin-top: 5%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

